POSTGRES_USER=chap
POSTGRES_PASSWORD=P6tr24Hfu9RDEjPBX3t
POSTGRES_DB=chap_core

CAPS_PG_USER=caps
CAPS_PG_PASSWORD=caps
CAPS_PG_DB=caps
CAPS_DB_URL=postgres://caps:caps@caps_postgres/caps

RABBITMQ_URL=amqp://caps:caps@caps_rabbitmq:5672
RABBITMQ_USER=caps
RABBITMQ_PASSWORD=caps

CHAP_BASE_URL=http://chap:8000
CHAP_API_TOKEN=

DHIS2_BASE_URL=http://dhis2-ip
DHIS2_USERNAME=caps
DHIS2_PASSWORD=<dhis2-user-password>


#CLIMATE_DATA_BASE_URL=http://climate-data:8000
CLIMATE_API_BASE_URL=http://ocs:8000